@import 'header';
@import 'main';
@import 'footer';

$bgcolor: red;
.principal {
    div {
        p {
            font-size: 332px;
            color: $bgcolor;
            &hover {
                color: blue;
            }
        }

    }
}