@import 'header';
@import 'main';
@import 'footer';

$bgcolor: red;
.principal {
    div {
        p {
            font-size: 332px;
            color: $bgcolor;
            &hover {
                color: blue;
            }
        }

    }
}

@mixin tema($colorBg: blue) {
    backgraud-color: $colorBg;
    color: #fff;
    height: 150px;
}

.principal01 {
    @include tema
}

.principal02 {
    @include tema($colorBg: red)
}

.principal03 {
    @include tema($colorBg: orange)
}

$green: green;
$red: red;

.button {
    font-size: 16px;
    border-radius: 25px;
    color: white;
    padding: 10px 20px;
    &--green {
        @extend .button;
        background-color: $green;
        border-color: $green;
    }

    &--red {
        @extend .button;
        background-color: $red;
        border-color: $red;
    }
}